# OS artifacts
.DS_Store
**/. DS_Store
Thumbs.db

# Editor backup files
*~
*.swp
*.swo
*.bak
*.backup
\#*\#
.#*

# IDE
.idea/
aiinfa.iml
*.iml
*.env

# Python cache artifacts
__pycache__/
**/__pycache__/
*.py[cod]
.pypl-token
.venv/
dist/

# Tool caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.benchmarks/
.coverage

# IDE
.idea/
.vscode/
aiinfa.iml
*.iml
*.env
